body{
background-color: blue;
}
p{
    background-color: darkorange;
    border-style: solid;
    border-color:bisque;
}
h1{
    background-color: darkorange;
    border-style: solid;
    border-color:crimson;
}
h2{
    background-color: darkorange;
    border-style: solid;
    border-color:cyan;
    color: blue;
}
body{
    color: whitesmoke;
}
.one{
    background-color:dodgerblue;
}
.two{
    background-color: whitesmoke;
}
.three{
    background-color: darkorange;
}
.four{
    background-color: whitesmoke;
}