body{
background-color: crimson;
}
p{
    background-color: grey;
    border-style: solid;
    border-color: whitesmoke;
}
h1{
    background-color: blue;
    border-style: solid;
    border-color: gold;
}
h2{
    background-color: darkorange;
    border-style: solid;
    border-color:cyan;
    color: blue;
}
body{
    color: whitesmoke;
}
.one{
    background-color:deepskyblue;
}
.two{
    background-color:honeydew;
}
.three{
    background-color: dodgerblue;
}
.four{
    background-color: gold;
}