body{
background-color: blue;
}
body{
color: hotpink;
}
.michiganschedule{
border: cyan;    
}
h1{
    background-color: darkblue;
}
h2{
    background-color: gold;
}
.one{
    background-color:deepskyblue;
}
.two{
    background-color:honeydew;
}
.three{
    background-color: dodgerblue;
}
.four{
    background-color: gold;
}