.longfour{
font-size: 50px;
text-align: center;
color: blueviolet;
background-color: bisque;
height: 200px;
width: 2530px;
}
.one{
background-color:  turquoise;
height: 250px;
width: 450px;
border-width: 10px;
margin-right: 130px;
padding: 115px;
float: left;
}
.two{
background-color:  turquoise;
height: 250px;
width: 450px;
border-width: 10px;
margin-right: 130px;
padding: 115px;
float: left;
}
.three{
background-color:  turquoise;
height: 250px;
width: 450px;
border-width: 10px;
margin-right: 130px;
padding: 115px;
float: left;
}
.longfive{
background-color: chocolate;
height: 325px;
width: 2530px;
float:inline-start;
}
.boxsix{
background-color: blueviolet;
height: 167px;
width: 167px;
float: left;
}
.background{
background-color:darkcyan;
}


