.boxsix{height: 200px;
width: 300px;
background-color: rgb(120, 152, 151);
margin: auto;
width: 50%;
border: 3px solid rgb(107, 171, 195);
padding: 10px;}
body {background-color: rgb(255, 198, 177);}
      a:link {
        color: rgb(19, 0, 128);
        background-color:rgb(165, 193, 227);
        text-decoration:dotted;
      }
      
      a:visited {
        color: rgb(222, 0, 0);
        background-color: transparent;
        text-decoration:dotted;
      }
      
      a:hover {
        color: rgb(26, 59, 125);
        background-color: transparent;
        text-decoration:dotted;
        margin:90px;
      }
      
      a:active {
        color: rgb(19, 21, 90);
        background-color: transparent;
        text-decoration:dotted;
        margin-top: 90px;
      } 
      .boxsix p{
        color: aliceblue;
        margin-left: 99px;
        font-size: 50px;
      }
      .boxtwo{
        height: 300px;
        width:290px;
background-color: rgb(120, 152, 151);
margin-top: -150px;
text-align: center;
      }
      a{
        font-size: 40px;
      }
      .boxthree{
        height: 600px;
width: 300px;
background-color: rgb(120, 152, 151);
margin: auto;
width: 50%;
border: 3px solid rgb(107, 171, 195);
padding: 10px;
      }
      .boxthree p{
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
      color: rgb(203, 238, 251);
      }
      .boxthree h2{
font-size: 90px;
      }
      img{
        margin-left: 345px;
        
      }