.boxone{
    background-color: darkturquoise;height: 75px;
    width: 2500px;
    text-align: center;
    }

.boxtwo{
    background-color: lightblue;
    height: 500px;
    width: 1300;
  
}

.boxthree{
    background-color: maroon;
    height: 500px;
    width: 2500px;
}

.boxthree img{
    float: right;
}

.boxthree h1{
    float: left;
}

.boxthree p{
    float: left;
}