.boxone{
    background-color:burlywood ;
    height: 75px;
    width: 1300px;
    text-align: center;
}
.boxtwo{
    background-color: mediumaquamarine;
    height: 400px;
    width: 1300px;
    text-align: center;
}