body{
    background-color: aqua;
    font-family: cursive;
}
.home{
border-style: solid;
border-radius: 20px;
border-color: white;
    text-align: center;
background-color: antiquewhite;
height: 200px;
width: 100%;
float: left;
}
.two{
    border-style: solid;
    border-color: white;
    border-radius: 20px;
text-align: center;
margin-left: 50px;
background-color: blue;
width: 25%;
height: 750px;
float: left;
}
.three{
border-style: solid;
border-radius: 20px;
border-color: white;
text-align: center;
margin-left: 50px;
background-color: blue;
width: 25%;
height: 750px;
float: left;
}
.four{
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    text-align: center;
background-color: blue;
width: 25%;
height: 750px;
float: left;
margin-left: 50px;
}
a{
text-decoration: none;
}
.list{
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    background-color: antiquewhite;
}

.game{
    margin-top: 50px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    background-color: blue;
    height: 500px;
}
.golden{
    padding-left: 20px;
    background-color: blue;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    h2{
        color: gold;
    }
}

.clash{
    padding-left: 20px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    background-color: antiquewhite;
}
.s{
    padding-left: 20px;
    margin-top: 20px;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    background-color: blue;
    h2{
        color: cornflowerblue;
    }
}
.queen{
    padding-left: 20px;
    margin-top: 20px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    background-color: blue;
    h2{
        color: purple;
    }
}
.mega{
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    background-color: blue;
    h2{
        color: brown;
    }
}
.gob{
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    background-color: blue;
    h2{
        color: greenyellow;
    }
}
.prince{
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    background-color: blue;
    h2{
        color: darkcyan;
    }
}
.monk{
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    background-color: blue;
    h2{
        color: white;
    }
}
.boss{
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    background-color: blue;
    h2{
        color: red;
    }
}
.camp{
    height: 420px;
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 20px;
    border-radius: 20px;
    border-color: rgb(57, 246, 4);
    border-style: solid;
    background-color: rgb(156, 125, 12);
}
.bone{
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 50px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    height: 420px;
}
.bowl{
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 50px;
    border-radius: 20px;
    border-color: rgb(253, 174, 4);
    border-style: solid;
    background-color: rgb(246, 255, 0);
    height: 420px;
}
.spell{
    margin-top: 20px;
    clear: both;
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 20px;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(170, 0, 255);
    height: 420px;
}
.work{
    margin-top: 20px;
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 50px;
    border-radius: 20px;
    border-color: green;
    border-style: solid;
    background-color: brown;
    height: 420px; 
}
.pekka{
        margin-top: 20px;
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 50px;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(243, 53, 0);
    height: 420px; 
}
.royale{
        margin-top: 20px;
    clear: both;
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 20px;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(252, 242, 38);
    height: 420px;
}
.peak{
    margin-top: 20px;
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 50px;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(23, 190, 190);
    height: 420px; 
}
.jun{
     margin-top: 20px;
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 50px;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(0, 243, 12);
    height: 420px; 
}
.hog{
     margin-top: 20px;
    clear: both;
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 20px;
    border-radius: 20px;
    border-color: rgb(126, 126, 126);
    border-style: solid;
    background-color: rgb(83, 209, 255);
    height: 420px;
}
.leg{
    margin-top: 20px;
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 50px;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(36, 211, 255);
    height: 420px; 
}
.spooky{
     margin-top: 20px;
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 50px;
    border-radius: 20px;
    border-color: rgb(0, 217, 255);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    height: 420px; 
}
.hide{
    margin-top: 20px;
    clear: both;
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 20px;
    border-radius: 20px;
    border-color: rgb(52, 105, 6);
    border-style: solid;
    background-color: rgb(248, 207, 43);
    height: 420px;
}
.cool{
        margin-top: 20px;
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 50px;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(250, 122, 10);
    height: 420px;
}
.mine{
    margin-top: 20px;
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 50px;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(85, 255, 0);
    height: 420px; 
}
.kit{
        margin-top: 20px;
    clear: both;
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 20px;
    border-radius: 20px;
    border-color: rgb(251, 8, 255);
    border-style: solid;
    background-color: rgb(121, 76, 3);
    height: 420px;
}
.cr{
            margin-top: 20px;
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 50px;
    border-radius: 20px;
    border-color: rgb(255, 212, 82);
    border-style: solid;
    background-color: rgb(10, 158, 250);
    height: 420px;
}
.mol{
     margin-top: 20px;
    padding-left: 20px;
    float: left;
    width: 25%;
    margin-left: 50px;
    border-radius: 20px;
    border-color: rgb(255, 113, 189);
    border-style: solid;
    background-color: rgb(19, 248, 126);
    height: 420px; 
}
.end{
    margin-top: 20px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    background-color: blue;
    clear: both;
    float: left;
    width: 100%;
    height: 200px;
    text-align: center;
}
