.list{
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    background-color: antiquewhite;
}
body{
    background-color: aqua;
    font-family: cursive;
}
.game{
    margin-top: 50px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    background-color: blue;
    height: 500px;
}