.golden{
    padding-left: 20px;
    background-color: blue;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    h2{
        color: gold;
    }
}
body{
    background-color: aqua;
    font-family: cursive;
}
.clash{
    padding-left: 20px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    background-color: antiquewhite;
}
.s{
    padding-left: 20px;
    margin-top: 20px;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    background-color: blue;
    h2{
        color: cornflowerblue;
    }
}
.queen{
    padding-left: 20px;
    margin-top: 20px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    background-color: blue;
    h2{
        color: purple;
    }
}
.mega{
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    background-color: blue;
    h2{
        color: brown;
    }
}
.gob{
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    background-color: blue;
    h2{
        color: greenyellow;
    }
}
.prince{
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    background-color: blue;
    h2{
        color: darkcyan;
    }
}
.monk{
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    background-color: blue;
    h2{
        color: white;
    }
}
.boss{
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
    background-color: blue;
    h2{
        color: red;
    }
}