div{
    background-color: blue;
    border-style: solid;
    border-color: yellow;
    text-align: center;
    color: white;
    font-family: cursive;
    border-radius: 20px;
}
.goldenknight{
    color: green;
}
.archerqueen{
    color: deeppink;
}
.skeletonking{
    color: blue;
}
.mightyminer{
    color: deeppink;
}
.monk{
    color: blue;
}
.littleprince{
    color: green;
}
.goblinstein{
    color: orange;
}
.bossbandit{
    color: gold;
    font-family: cursive;
}
.cardbody{
    background-color: black;
    color: white;
}
.hog26{
    font-family:monospace;
    color: blueviolet;
}
.logbait{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}
.lavaloon{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orange;
}
.golem{
    font-family: cursive;
    color: gray;
}
.pekkabridge{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: purple;
}
.xbow{
    font-family: fantasy;
    color: brown;
}
.minercontrol{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
.splashyard{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
.rg{
    font-family: sans-serif;
    color: blanchedalmond;
}
.pekkagg{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkgreen;
}
.fireball{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkorange;
}
.megaknightbait{
    font-family: fantasy;
    color: cadetblue;
}
.hogeq{
    font-family: cursive;
    color: dimgray;
}
.icebow{
    font-family: fantasy;
    color: aqua;
}
.lumberloon{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkred;
}
.deckback{
    background-color: black;
    
}
p{
    color: white;
}
.bodycolor{
    background-color: black;
}
.j{
    background-color: black;
    color: blue;
}