body{
    background-color: rgb(221, 255, 218);






}
p{
    background-color: palegreen;



}
.one{
    float: left;
    margin-left: 50%;


}
.two{
    float: left;
    margin-left: 50%;
}
.three{
    float: left;
    margin-left: 50%;


}
.four{
    float: left;
    margin-left: 50%;

}
.five{
    float: left;
    margin-left: 50%;

}