h1{
    text-align: center;
    font-size: 60px;
}
hr{
    background-color: black;
    height: 2px;
    border-color: black;
    border-style: double;
}
a{
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    color: blueviolet;
}
body{
    background-image: linear-gradient(to bottom left, #86775F, #f8e5a0);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
p{
    background-color: tan;
    font-weight: bold;
}
.one{
    float: left;
    margin-left: 100px;
    background: none;
}
.two{
    float: left;
    margin-left: 300px;
    background: none;
}
img{
    margin: 80px;
}
.intext{
    margin: 0px;
}