h1{
    text-align: center;
    font-size: 60px;
    font-family: "Cookie"
}
body{
    background-color: brown;
}
li{
    font-weight: bold;
}
p{
    font-weight: bold;
}
hr{
    background-color: black;
    height: 2px;
    border-color: black;
    border-style: double;
}
a{
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    color: blueviolet;
}
.paragraph{
    background-color: salmon;
}
.two{
    background-color: salmon;
}
.DISCLAIMER{
    text-align: center;
}