body{
    background-color: red;
}
h1{
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: blue;
    text-align: center;
    height: 100px;
    padding-top: 50px;
    color: rgb(251, 53, 53);
}
/*Final Page 1*/
.Reason1{
    border-style: solid;
    border-color: darkred;
    border-width: 10px;
    background-color: cyan;
    margin-top: 20px;
    width: 30%;
    height: 50%;
    overflow: hidden;
    margin-left: 10%;
    float: left;
}
.Reason1 h2{
    text-align: center;
    Font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(251, 53, 53);
}
.Reason1 p{
    color: darkred;
    font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
.Reason1 img{
    padding-left: 40%;
}
.Reason1 h6{
    text-align: center;
}

.Reason2{
    border-style: solid;
    border-color: darkred;
    border-width: 10px;
    background-color: cyan;
    margin-top: 20px;
    float: left;
    width: 30%;
    height: 50%;
    overflow: hidden;
    margin-left: 10%;
}
.Reason2 h2{
    text-align: center;
    Font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(251, 53, 53);
}
.Reason2 p{
    color: darkred;
    font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
/*Final Page 2*/
.Boss{
    border-style: solid;
    border-color: darkred;
    border-width: 10px;
    background-color: cyan;
    margin-top: 20px;
    float: left;
    width: 80%;
    height: 30%;
    overflow: hidden;
    margin-left: 10%;
}
.Boss h2{
    Font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(251, 53, 53);
}
.Boss p{
    color: darkred;
    font-family: initial;
    font-size: 30px;
}
img{
    padding-top: 1%;
    padding-left: 45%;
}
.Joke{
    border-style: solid;
    border-color: darkred;
    border-width: 10px;
    background-color: cyan;
    margin-top: 20px;
    float: left;
    width: 80%;
    height: 30%;
    overflow: hidden;
    margin-left: 10%;
}
.Joke h2{
    Font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(251, 53, 53);
}
.Joke p{
    color: darkred;
    font-family: initial;
    font-size: 30px;
}
.words1{
    clear: both;
}
/*Final Page 3*/
.Entities{
    border-style: solid;
    border-color: darkred;
    border-width: 10px;
    background-color: rgb(0, 0, 0);
    margin-top: 20px;
    float: left;
    width: 80%;
    height: 30%;
    overflow: hidden;
    margin-left: 10%;
}
.Entities h2{
    font-weight: 500;
    font-style: normal;
    color: rgb(251, 53, 53);
    font-family: "Handjet", sans-serif;
    font-variation-settings:"ELGR" 1;
    font-size: 200%;
}
.Entities p{
    color: rgb(251, 53, 53);
    font-family: "Handjet", sans-serif;
    font-size: 30px;
}
.Entities2{
    border-style: solid;
    border-color: darkred;
    border-width: 10px;
    background-color: rgb(0, 0, 0);
    margin-top: 20px;
    width: 30%;
    height: 50%;
    overflow: hidden;
    margin-left: 10%;
    clear: both;
    float: left;
    background-image: linear-gradient(to bottom, rgb(215, 47, 47), black);
}
.Entities2 h2{
    text-align: center;
    font-weight: 500;
    font-style: normal;
    color: rgb(250, 26, 26);
    font-family: "Handjet", sans-serif;
    font-variation-settings:"ELGR" 1;
    font-size: 200%;
}
.Entities2 p{
    color: rgb(251, 53, 53);
    font-family: "Handjet", sans-serif;
    font-size: 30px;
}
.Entities2 ul{
    color: rgb(251, 53, 53);
    font-family: "Handjet", sans-serif;
    font-size: 30px;
}
.Entities3{
    border-style: solid;
    border-color: darkred;
    border-width: 10px;
    background-color: rgb(0, 0, 0);
    margin-top: 20px;
    width: 30%;
    height: 50%;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(215, 47, 47), black);
    float: left;
    margin-left: 450px;
}
.Entities3 h2{
    text-align: center;
    font-weight: 500;
    font-style: normal;
    color: rgb(250, 26, 26);
    font-family: "Handjet", sans-serif;
    font-variation-settings:"ELGR" 1;
    font-size: 200%;
}
.Entities3 p{
    color: rgb(251, 53, 53);
    font-family: "Handjet", sans-serif;
    font-size: 30px;
}
.Entities3 ol{
    color: rgb(251, 53, 53);
    font-family: "Handjet", sans-serif;
    font-size: 30px;
}
.words{
    clear: both;
}
/*Final Page 4*/
.Now{
    border-style: solid;
    border-color: darkred;
    border-width: 10px;
    background-color: cyan;
    margin-top: 20px;
    float: left;
    width: 80%;
    height: 30%;
    overflow: hidden;
    margin-left: 10%;
}
.Now h2{
    Font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(251, 53, 53);
}
.Now p{
    color: darkred;
    font-family: initial;
    font-size: 30px;
}
/*Final Page 5*/
.End{
    border-style: solid;
    border-color: darkred;
    border-width: 10px;
    background-image: linear-gradient(to bottom, rgb(215, 47, 47), rgb(0, 251, 255));
    margin-top: 20px;
    float: left;
    width: 80%;
    height: 30%;
    overflow: hidden;
    margin-left: 10%;
}
.End h2{
    text-decoration: solid;
    font-weight: 500;
    font-style: normal;
    color: rgb(251, 53, 53);
    font-family: "Handjet", sans-serif;
    font-variation-settings:"ELGR" 1;
    font-size: 200%;
}
.End p{
    color: rgb(251, 53, 53);
    font-family: "Handjet", sans-serif;
    font-size: 30px;
}
.End2{
    border-style: solid;
    border-color: darkred;
    border-width: 10px;
    background-image: linear-gradient(to bottom, rgb(215, 47, 47), rgb(0, 251, 255));
    margin-top: 20px;
    float: left;
    width: 80%;
    height: 30%;
    overflow: hidden;
    margin-left: 10%;
}
.End2 h2{
    font-weight: 500;
    font-style: normal;
    color: rgb(251, 53, 53);
    font-family: "Handjet", sans-serif;
    font-variation-settings:"ELGR" 1;
    font-size: 200%;
}
.End2 p{
    color: rgb(251, 53, 53);
    font-family: "Handjet", sans-serif;
    font-size: 30px;
}