h1{
    border-style: groove;
    border-radius: 40px;
    text-align: center;
    height: 110px;
    font-size: 90px;
    border-color: rgb(255, 145, 0);
    background-color: rgb(176, 97, 0);
}
body{
    background-color: rgba(195, 157, 2, 0.706);
}
h2{
    border-style: groove;
    border-radius: 15px;
    height: 75px;
    font-size: 55px;
    border-color: rgb(255, 136, 0);
    background-color: rgb(186, 84, 0);
    width: 500px;
    
}
p{
    border-style: groove;
    border-radius: 15px;
    height: 250px;
    font-size: 55px;
    border-color: rgb(245, 132, 2);
    background-color: rgb(154, 76, 2);
    width: 500px;
    float: left;
}
div{
    border-style: groove;
    border-radius: 15px;
    height: 75px;
    font-size: 55px;
    border-color: rgb(255, 136, 0);
    background-color: rgb(165, 105, 1);
    width: 500px;
    float: right;
    height: 250px;
}
img{
    float: right;
    margin-right: 450px;
}