h1{
    border-style: groove;
    border-radius: 40px;
    text-align: center;
    height: 110px;
    font-size: 90px;
    border-color: rgb(226, 0, 151);
    background-color: rgb(238, 0, 255);
}
body{
    background-color: rgba(72, 5, 79, 0.706);
}
h2{
    border-style: groove;
    border-radius: 15px;
    height: 75px;
    font-size: 55px;
    border-color: rgb(225, 0, 255);
    background-color: rgb(234, 0, 255);
    width: 500px;
    
}
p{
    border-style: groove;
    border-radius: 15px;
    height: 250px;
    font-size: 55px;
    border-color: rgb(245, 2, 245);
    background-color: rgb(255, 1, 251);
    width: 500px;
    float: left;
}
div{
    border-style: groove;
    border-radius: 15px;
    height: 75px;
    font-size: 55px;
    border-color: rgb(255, 0, 230);
    background-color: rgb(255, 0, 217);
    width: 525px;
    float: right;
    height: 250px;
}
img{
    float: right;
    margin-right: 450px;
}