body{
    background-color:white;
}
a{
    font-size: 25px;
    font-family: Rubik Iso;
    text-decoration: none;
}
h1{
    font-family: Kablammo;
    text-align: center;
    font-size: 55px;
}
.div1{
    background-color: lavenderblush;
}
.div2{
    background-color: lavender;
}
.div3{
    background-color: lavenderblush;
}
h2{
    font-size: 40px;
    font-family: Kablammo;
    
}
ul{
    font-size: 25px;
    font-family: Rubik Puddles;
}
p{
    font-family: Rubik Puddles;
    font-size: 25px;
}
