body{
    background-color:lavender

}
a{
    font-family: Rubik Iso;
    font-size: 25px;
    text-decoration: none;
}
.div1{
    background-color:white

}
.div2{
    background-color: white;
}
h1{
    font-size: 55px;
    text-align: center;
    font-family: Kablammo;
}
p{
    font-size: 30px;
    font-family: Rubik Puddles;
}
.div3{
    background-color: white;
}
ul{
    font-size: 25px;
    font-family: Rubik Puddles;
    border-style: dotted;
    border-radius: 50px;
    border-left: 20px;
    border-right: 20px;
    border-width: 10px;
    width: 350px;
}
h2{
    
    font-size: 40px;
    font-family: Kablammo;
}
.div4{
    background-color: white;
    height:260px;
    text-align: center;
    font-size: 40px;
    font-family: Kablammo;
    margin-left: 100px;
    margin-right: 100px;
}
