<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="../CSS/home page.css">

<link rel="preconnect" href=>

</head>





<body>
<a href="file:///Users/krizaa/Desktop/final%20projec/HTLM/home.page.html">home page</a>
<a href="file:///Users/krizaa/Desktop/final%20projec/CSS/stats.html">who is raphinha</a>
<a href="file:///Users/krizaa/Desktop/final%20projec/HTLM/clubs.html">clubs</a>
<a href="file:///Users/krizaa/Desktop/final%20projec/HTLM/right%20now.html">right now</a>


<h1 class="headingone">raphinha</h1>

<hr><hr><br><br><br>



<img class="imgone" src="../images/home page raphina.avif" alt="raphinha celebrating" width="500px">


<h3 class="app">barca appearnaces</h3>


<h1 class="ap">166</h1>


<h3 class="go">barca goals</h3>

<h1 class="goo">67</h1>


<h3 class="sss">barca assists</h3>

<h1 class="ss">50</h1>



    
</body>
</html>