p{
    font-size: 20px;
    background-color: gray;
    text-align: center;
    }
    hr{
        width: 650px;
        color: blue;
    }
    h1{
    font-size: 200px;
    background-color:gold;
    text-align: center;
    border-radius: 25px;
    }
    img{
    size: 650px;
    border-radius: 250px;
    border-style: groove;
    border-width: 50px;
    border-color: blue;
    }
    h3{
        text-align: center;
    }
   
    
    body{
        background-color:rgb(56, 145, 175); ;
    }
    h6{
    font-size: 30px;
    text-align: center;
    }