p{
    background-color: rgba(95, 183, 238, 0.839);
    width: 700px;
    height: 150px;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    border-radius: 20%;
    padding-top: 67px;
    margin:auto
    
}
h1{
    background-color: rgba(95, 183, 238, 0.839);
    border-style: double;
    border-radius: 0%;
    font-family: fantasy;
    text-align: center;
    padding: 8px;
    width: 1175px;
    height: 250px;
}
img src{
    margin: center;
    background-color: aliceblue;
    border-style: solid;
    border-radius: 15%;
   
}
.Box1{
    text-align: center;
}