p{
    background-color: rgba(95, 183, 238, 0.839);
    padding: 55px;
    border-style: double;
    color: beige;
    font-size: 23px;
    text-align: center;
    font-family: fantasy;
    font-weight: 250px;

}
img{
    border-style: groove;
    border-color: black;
    padding: 20px;
    border-radius: 25%;
}
