body {
    background-image: url(https://freerangestock.com/sample/134409/cardinal-bird.jpg); 
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 200%;
}
.quickbrowse h2 {
    text-align: left;
}
.quickbrowse a {
    text-align: left;
}
.quickbrowse {
    background-color: aqua; width: 45%;
}