body{
    background-color: blue;
}
.hone{
    color: yellow;
    text-align: center;
}
.linkone{
    color: yellow;
    float: left;
}
.linktwo{
    color: yellow;
    float: left;
}
.linkthree{
    color: yellow;
    float: left;
}
.paragraphone{
    text-align: center;
    font-size: 50px;
    color: yellow;
}
.hrone{
    color: black;
    height: 5px;
    width: 500px;
}
.paragraphtwo{
    color: yellow;
    text-align: center;
    font-size: 25px;
}
.divone{
    text-align: center;
}
.paragraphthree{
    color: yellow;
    text-align: center;
    font-size: 20px;
}
.linkfour{
    color: yellow;
    float: right;
}
.linkfive{
    color: yellow;
    float: right;
}
.linksix{
    color: yellow;
    float: right;
}
.linkseven{
    color: yellow;
    float: right;
}
.linkeight{
    color: yellow;
    float: left;
}
.paragraphfour{
    color: yellow;
    font-size: 30px;
    text-align: center;
}
.divtwo{
    text-align: center;
}