body{
     background-color: lightgray;
}
.fruit15{
    float: right;
}
.fruit14{
    float: right;
}
.fruit13{
    float: right;
}
.fruit12{
    float: right;
}
.fruit11{
    float: right;
}
.fruit10{
    float: right;
}
.fruit9{
    float: right;
}
.fruit8{
    float: right;
}
.fruit7{
    float: right;
}
.fruit6{
    float: right;
}
.fruit5{
    float: right;
}
.fruit4{
    float: right;
}
.fruit3{
    float: right;
}
.fruit2{
    float: right;
}
.fruit1{
    float: right;
}