body{background-color: lightblue; 
text-align: center;}
h1{background-color: lightsalmon;; border-style: solid; border-color: blue;}
h3{background-color: beige;
; border-style: solid; border-color: blue;}
p{background-color: antiquewhite; 
font-size: x-large;
; border-style: solid; border-color: blue;}
h2{background-color: lightsalmon;
; border-style: solid; border-color: blue;}