body{background-color: rgb(146, 185, 243);}

h1{text-align: center;
color: darkolivegreen;
}

h2{text-align: center;
color: darkgreen;
}

p{color: darkgreen;}

li{color:rgb(0, 0, 0);
font-size: 20px;
}