body{
    background-color: aqua;
}
.one{
    padding-left: 20px;
    color: rgb(54, 179, 252);
    background-color: blue;
    height: 400px;
}
.one h1{
    text-align: center;
}
.one img{
    position: absolute;
    right: 50px;
    top: 125px;
    border-style: inset;
    border-width: 7px;
    border-color: rgb(0, 123, 255);
    border-radius: 200px;
}
.one h4{
    position: absolute;
    right: 75px;
    top: 430px;
    font-size: large;
}
.links{
    width: 250px;
    margin-left: 500px;
    background-color: rgb(0, 157, 255);
    text-align: center;
    border-radius: 200px;
}