Body{
    background-color: lightskyblue;
}

.links{
    background-color:rgb(127, 193, 215);
    border-style:inset;
    border-width: 10px;
    border-color: lightblue;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
}
h1{
    background-color:rgb(127, 193, 215);
    text-align: center;
    border-style:outset;
    border-color:lightblue;
    border-width: 10px;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    font-size: 50px;
}
