a{

    border-style: solid;
    border-color: black;
    
}
h1{
border-style: solid;
font-family: cursive;
font-weight: 100;
border-radius: 25%;
text-decoration: dashed;
}
h2{
    
    border-style:initial;
    
    color: cadetblue;
}
img{

    filter: brightness(8px);
}