body{
    background-color: plum;
}

a{
    background-color: pink;
    border-radius: 25px;
}

.scores{
    background-color: firebrick;
    width: 150px;
}

.on{
    background-color: firebrick;
    width: 200px;
    position: absolute;
    left: 850px;
}

.lower{
    background-color: firebrick;
    width: 300px;
    position: absolute;
    left: 450px;
    top: 430px;
}

.higher{
    background-color: firebrick;
    width: 150px;
    position: absolute;
    left: 200px;
    top: 350px;
}



.teebox{
    background-color: firebrick;
    width :150px ;
    position: absolute;
    top: 700px;
    left: 400px;
}

.handicaps{
    background-color: firebrick;
    width :150px ;
    position: absolute;
    top: 700px;
    left: 600px;
}

.scorecard{
    position: absolute;
    left: 400px;
    top: 120px;

    animation-name: score;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.scorecard:hover{
    animation-play-state: paused;
}

@keyframes score{
    0%{

    }

    100%{
        rotate: 360deg;
        position: absolute;
    left: 400px;
    top: 120px;
    width: 35%;
    }
}

.spin{
    width: 100px;
    height: 100px;
    background-color: rgb(128, 1, 255);
    color: white;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 75px;
    right:75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -15px;
    right: -15px;

    animation-name: spin;
    animation-duration: 6s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes spin{
    0%{

    }
    10%{
        background-color: red;
    }
    30%{
        background-color: yellow;
    }
    50%{ 
       transform: rotate(0);
       border-radius: 0;
       background-color: green;
    }
    70%{
        background-color: darkorchid;
    }
    100%{
        transform: rotate(360deg);
        border-radius: 50%;
        background-color: blue;
    }
}

a{
    text-align: center;
    font-size: large;
    margin: auto;
    transition-duration: .5s;
    display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;
}

a:hover{
scale: 2;
}