body{
    background-color: rgb(16, 131, 16);

}

.box1{
    text-align: center;
    border-style:ridge;
}

.box2{
    background-color: rgb(47, 176, 47);
    height:400px;
    width:35%;
    float: left;
    margin-top: 20px;
    font-size: 20px;
}

.box3{
    float:left;
    margin-left: 25px;
    margin-top: 20px;
    height:150px;
}

.box4{
    margin-top: 20px;
    margin-left: 25px;
    float: left;
    text-align: center;
    height: 150px;
}