body{
    background-color: coral;
}
h1{
    background-color: red;
    height: 200px;
    text-align: center;
    
}
ul{font-size:x-large;}
p{
    font-size: x-large;
} 
li{
    font-size: x-large;
}
