body{

    background-color: rgb(13, 255, 13) ;
}
h1{
    border-style:dotted ;
    height: 50px;
    border-width: 10px;
    text-align: center;
    padding: 50px;
    border-color: rgb(0, 89, 255);
}
p{
    font-size: x-large;
    font-size: bold ;
}

