p{
    font-size: x-large;
}
body{
    background-color:darksalmon;
}
h1{
    border-style: dashed;
    height: 50px;
    border-width: 10px;
    text-align: center;
    padding: 50px;
    border-color: rgb(0, 255, 225);
}
img{
    width:209Px ;
    height: 126px;
}


