.container {
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
}

.box {
    background-color: beige;
    height: 100px;
    width: 100px;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.flower {
    position: relative;
    width: 400px;
    height: 400px;
    flex-direction: column;
    border: 3px black solid;
    display: flex;
    justify-content: center;
    align-items: center;

}
.stem {
    background-color: green;
    width: 10px;
    position: relative;
    right: 10px;
    bottom: -50px;
    z-index: 15;
}
.pedal {
    
    height: 70px;
    width: 70px;
    background-color: red;
    position: absolute;
    top: 110px;
    left: 100px;
    border: 3px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.pedal2 {
    
    height: 70px;
    width: 70px;
    background-color: red;
    position: absolute;
    top: 110px;
    right: 100px;
    border: 3px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.pedal3 {
    
    height: 70px;
    width: 70px;
    background-color: red;
    position: absolute;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    top: 215px;
    left: 100px;
    border: 3px;
    
}
.pedal4 {
    
    height: 70px;
    width: 70px;
    background-color: red;
    position: absolute;
    top: 215px;
    right: 100px;
    border: 3px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

@keyframes change-size{
    from {
          transform: translateX(-200px);
        }

        to {
            translateX:(200px);
        }

}

.flower{
    animation-name: change-size;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 100;
    animation-direction: normal;
    animation-fill-mode: forwards;

    transform: translateX(-150px);
}

