.card{color: rgb(100, 241, 189);
    display: flex;
    border: solid 5px rgb(255, 0, 0);
    width: 400px;
    height: 
    100px; 
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    }
    
.main{
    display: flex;
    color: aqua;
    width: 1120px;
    height: 800px; 
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
body{
    background-color: rgb(238, 223, 205);
}