h1{
    color: azure;
    font-family: cursive;
}

body{
    background-color: rgb(8, 50, 179);
}
h2{
    color: azure;
    font-family: cursive;

}
li {
    color: azure;
}

a {
    color: white;
  }

  p {
    color: azure;
}