img{
    border-style:double;
    border-color: aqua;
    border-radius: 25%;
    padding: 2%;
    width: 50%;
}
.cool{
background-color: aqua;
border-style: solid;
    padding-bottom: 16px;
    border-radius: 23%;
    border-color: black;
    text-align: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.coolone{
    background-color: aqua;
    border-style: solid;
    padding-bottom: 16px;
    border-radius: 23%;
    border-color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Ilove{
    background-color: aqua;
    border-style: solid;
    padding-bottom: 16px;
    border-radius: 23%;
    border-color: black;
    text-align: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.I{
     background-color: aqua;
    border-style: solid;
    padding-bottom: 16px;
    border-radius: 23%;
    border-color: black;
    text-align: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.lll{
      background-color: aqua;
    border-style: solid;
    padding-bottom: 16px;
    border-radius: 23%;
    border-color: black;
    text-align: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pp{
    background-color: aqua;
    border-style: solid;
    padding-bottom: 16px;
    border-radius: 23%;
    border-color: black;
    text-align: center;
}
.Rsix{
      background-color: aqua;
    border-style: solid;
    padding-bottom: 16px;
    border-radius: 23%;
    border-color: black;
    text-align: center;
}
.Ninja{
       background-color: aqua;
    border-style: solid;
    padding-bottom: 16px;
    border-radius: 23%;
    border-color: black;
    text-align: center;
   
}
.Ninja img{
    border-style: none;
}
.Rsix img{
    border-style: none;
}

.yy{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.iii{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      background-color: aqua;
    border-style: solid;
    padding-bottom: 16px;
    border-radius: 23%;
    border-color: black;
    text-align: center;
}
.jjj{
    text-align: center;
    
}
.ooo{
       background-color: aqua;
    border-style: solid;
    padding-bottom: 16px;
    border-radius: 23%;
    border-color: black;
    text-align: center;
}
.qqq{
         background-color: aqua;
    border-style: solid;
    padding-bottom: 16px;
    border-radius: 23%;
    border-color: black;
    text-align: center;
   
}
