.one{
    background-color: yellow;


}
body{
    background-color: midnightblue;
    color: black;
    font-family: cursive;
}
.two{
    background-color: yellow;
    width: 1000px;
    height: 450px;
    float: left;
    margin-left: 80px;
}
.three{
    background-color: yellow;
    float: left;
    height: 500px;
    width: 300px;
}
.four{
    background-color: yellow;
    float: right;
    height: 500px;
    width: 300px;
   
}
img{
    height: 400px;
    width: 400px;
    margin-left: 90px;
}
a{
    color: white;
}
.five{
    color: white;
}