body{
    background-color: rgb(98, 153, 255);
font-family: "Trade winds";
}
img{
    border-style: double;
    border-left-color: rgb(255, 213, 0);
    border-right-color: rgb(255, 213, 0);
    border-top-color: rgb(255, 213, 0);
    border-bottom-color: rgb(255, 213, 0);
    border-width: 20px;
    border-radius: 40px;
    width: 50%;
    
}
li{
    width: 10px;
    font-family: "Trade winds";
}
p{
    font-family: "Trade winds";
    background-color: rgb(255, 213, 0);

    
}
h1{
    font-family: "Trade winds";
    
}
a{
    font-family: "Trade winds";
}
h2{
 font-family: "Trade winds";    
}
