.boxonepagefour{
    height: 25px;
    background-color:wheat;
    text-align: center;
    font-size: 18px;
    color: black;
    border-bottom: 6px;
    
    
}

.boxonepagefour a{
    color: black;
    border-bottom: solid;
    border-radius: 0px;
    border-width: 7px;
    border-color: black;
    
}

body{
    background-color: wheat;
}

h1{
    text-align: center;
}

img{
    float: right;
    width: 200px;
    height: 100px;
}

button{
    float: right;
}
