body{
    background-color: violet;
}
.Thebeginning{
    background-color: papayawhip;
    border-style: solid;
}
.Char2{
    background-color: red;
    border-style: solid;
}
.Glacius{
    background-color: dodgerblue;
    border-style: solid;
}
.KerriganQuest{
    background-color: purple;
    border-style: solid;
}
.Hyperion{
    background-color: turquoise;
    border-style: solid;
}
.Space{
    background-color: darkcyan;
    border-style: solid;
}
.DOMINIONDUDES2{
    background-color: firebrick;
    border-style: solid;
}
.TheSWARM{
    background-color: lightcoral;
    border-style: solid;
}
.Evolutions{
    background-color: mediumpurple;
    border-style: solid;
}
.Upgrades{
    background-color: mediumpurple;
    border-style: solid;
}
