body{
    background-color: cyan;
}
.Void{
    background-color: deepskyblue;
    border-style: solid;
    img{
        float: right;
    }
}
.Spear{
    background-color: lightblue;
    border-style: solid;
}
.Shakuras{
    background-color: darkgreen;
    border-style: solid;
}
.Sentry{
    background-color: mediumblue;
    border-style: solid;
    p{
        color: white;
    }
    h3{
        color: white;
    }
}
.Locks{
    background-color: cornflowerblue;
}
.Purifier{
    background-color: orange;
    border-style: solid;
}
.Taldarim{
    background-color: firebrick;
    border-style: solid;
}
.Carriers{
    background-color: yellow;
    border-style: solid;
}
.Amon{
    background-color: darksalmon;
    border-style: solid;
}
