
.dropbtn {
  background-color: rgb(232, 208, 76);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;}
.dropdown {
  position: relative;
  display: inline-block;}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;} 
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;} 
.dropdown:hover .dropbtn {background-color: black;}

  body{
    background-color: rgb(41, 39, 39);
}
.TopHeading h1{
    text-align: center;
    color: rgb(232, 208, 76);
}
body{
    background-color: rgb(41, 39, 39);
}
.leftbox{
  background-color: tan;
  height: 800px;
  width: 25%;
  float: left;
  margin-left: 5%;
  margin-top: 150px;
  border-radius: 100px;
}
.leftbox h1{
  margin-left: 215px;
}
.leftbox img{
  margin-left :100px;
  margin-top: 50px;
  border-radius: 75px;
  border-style: dashed;
  border-width:10px;
}
.leftbox ul{
  font-size: xx-large;
  margin-left:25px;
}
.leftbox p{
  font-size: x-large;
  margin-left: 25px;
}
.middlebox{
  background-color: tan;
  height: 800px;
  width: 25%;
  float: right;
  margin-right: 5%;
  margin-top: 150px;
  border-radius: 100px;
}
.middlebox h1{
  margin-left: 215px;
}
.middlebox  ul{
  font-size: xx-large;
  margin-left:25px;
}
.middlebox img{
  margin-top: 25px;
  border-radius: 75px;
  border-style: dashed;
  border-width:10px;
  border-color:rgb(178, 154, 121);
}
.middlebox p{
  font-size:small;
}
.rightbox{
  background-color: tan;
  height: 800px;
  width: 25%;
  float: right;
  margin-right: 8%;
  margin-top: 150px;
  border-radius: 100px;
}
.rightbox h1{
  margin-left: 200px;
}
.rightbox  ul{
  font-size: xx-large;
  margin-left:25px;
}
.rightbox img{
  border-style: groove;
  border-color: tan;
  border-width:10px;
}

