body{
    background-color: rgb(35, 62, 216);
}
h2{
     border-style: solid;;
}


img{
border-bottom-style: solid;
border-top-style: dotted;
border-left-style: ridge;
border-right-style: ridge;

border-top-width: 8px;
border-bottom-width: 12px;
border-color: blueviolet
border-color:px; 
}

border-radius



















