body{  
   background-image: url(../IMAGES/floor-parquet-pattern-wood-preview.jpg);
   background-repeat:  no-repeat;
    background-size:cover;
    height: 100vh;

}

h1{
    color: rgb(203, 203, 203);
    text-align: center;
}



 .one{
position: absolute;
top: 700px;
right: 400px;
 }

.one :hover{
   scale: 1.1;
   transition-duration: 1000ms;
transition-property: all;
}


 .two{
    position: absolute;
    top: 700px;
    right: 1275px;
 }

 .two :hover{
   scale: 1.1;
   transition-duration: 1000ms;
transition-property: all;
}

.four{
   position: absolute;
   top: 700px;
   right: 1000px;
}

.four :hover{
  scale: 1.1;
  transition-duration: 1000ms;
transition-property: all;
}

 .three{
   position: absolute;
   top: 700px;
   right: 700px;
 }

 .three :hover{
   scale: 1.1;
   transition-duration: 1000ms;
   transition-property: all;
}

.five{
   text-align: center;
   color: rgb(203, 203, 203);
}




.six{
   border-width: 10px;
   border-radius: 20px;
  width: 700px;
   height: 250px;
   border-style: inset;
   float: right;
   text-align: center;
   position: absolute;
   top: 225px;
   right: 600px;
   font-style: italic;
   background-color: rgb(173, 173, 173);
 
}

.seven{
   color: rgb(0, 0, 0);
}