body{
    background-image: url(../IMAGES/ship.webp);
   background-repeat:  no-repeat;
    background-size:cover;
    height: 100vh;
}

h1{
    text-align: center;
}

.one{
    text-align: center;
    width: 700px;
    height: 200px;
font-style: initial;
position: absolute;
top: 300px;
right: 350px;
background-color: rgb(228, 228, 228);
border-radius: 20px;
border-style: dotted;
border-width: 3px;
}


details{
    text-align: center;
}

img{
    position: absolute;
    left: 100px;
    top: 150px;
    font-style: italic;
    width: 400px;
    height: 200px;
    border-style: inset;
    color: rgb(86, 145, 255);
    border-radius:50px;
    text-align: center;
    position: absolute;
    top: 800px;
    left: 100px;
    transition-duration: 1000ms;
    transition-property: all;
 }



 .three :hover{
    scale: 3;
 }

 .two{
    text-align: center;
font-style: initial;
 }
