
body{
    background-color:rgb(255, 208, 0);
}
h2{border-bottom-style: solid;
border-top-style: dotted;
border-right-style: solid;
border-left-style: dotted;
border-width: 8px;
border-color: rgb(253, 20, 20);
border-radius: 50px;
}
img{

    border-bottom-style: solid;
    border-top-style: dotted;
    border-right-style: solid;
    border-left-style: dotted;
    border-width: 8px;
    border-color: rgb(239, 13, 13);
    border-radius: 50px;
}
h1{
    border-bottom-style: solid;
    border-top-style: dotted;
    border-right-style: solid;
    border-left-style: dotted;
    border-width: 8px;
    border-color: rgb(231, 26, 26);
    border-radius: 50px;
    text-align: center;
}
a{
    text-align: center;
}