body{
    background-color: aqua;
}

h1{border-bottom-style: solid;
border-top-style: dotted;
border-right-style: solid;
border-left-style: dotted;
border-width: 8px;
border-color: rgb(57, 113, 234);
border-radius: 50px;
}
img{

    border-bottom-style: solid;
    border-top-style: dotted;
    border-right-style: solid;
    border-left-style: dotted;
    border-width: 8px;
    border-color: rgb(21, 110, 128);
    border-radius: 50px;
}
p{
    border-bottom-style: solid;
    border-top-style: dotted;
    border-right-style: solid;
    border-left-style: dotted;
    border-width: 8px;
    border-color: rgb(29, 115, 177);
    border-radius: 50px;
    text-align: center;
}
h1{
    text-align: center;
}

