body{
    background-color: darkcyan;
   
}
p{
    background-color:aquamarine;
    width: 400px;
    height: 400px;
    margin: 30px;
    float:left;
}
.questgiver{
    background-color:aquamarine;
    width: 600px;
    height: 400px;
    float: right;
    margin: 30px;
}
.bounty{
    background-color:aquamarine;
    width: 600px;
    height: 400px;
    float:right;
    margin: 30px;
}
.div1{
    float:right;
    margin-top: 50px;
}
.div4{
    float:right;
    height: 100px;
    width: 500px;
}
.div5{
    margin-top: 50px;
}

