.one{
    background-color: navy;
    border-style: ridge;
    color: yellow;
    width: 750px;


}


.two{
    background-color: navy;
    border-style: ridge;
    color: yellow;
    width: 750px;


}