.one{
    Background-color: green;
    border-style: ridge;
    color: yellow 
    

}

p{
    background-color: rgba(0,0,0,1)


}

.two{
    background-color: green;
    border-style: ridge;
    color: yellow;


}

p{
    background-color: rgba(0,0,0,1)


}