p{

font-family: fantasy;
color: blanchedalmond;
font-size: large;
}
body{
text-align: center;
background-color: black;
font-family: fantasy;;

}
h1{
    font-family: fantasy;
text-align: center;
color: blanchedalmond;
margin: auto;
border-style:dotted ;
width: 20%;

}
a{
color: blanchedalmond;
}