.one{
background-color:dodgerblue;
border-style: ridge;
color: white;

}
     
.two{
    color: red;
    Width: 325px;
    height: 325px;
}

.three{
    background-color: dodgerblue;
    border-style: ridge;
    color: white;
    width: 750px;
    height: 750px;

}

.Fourth{
    Background-color: dodgerblue;
    Border-style: ridge;
    color: white;
width: 750px;
height: 750px;

}
