body{
    background-color: rgb(224, 255, 255);}
.title{
    color:rgb(255, 121, 255) ; text-align: center; font-size: 60px;}
h1{
    color:rgb(255, 121, 255) ;text-align: center;}
a{
    text-decoration:dotted; color:rgb(255, 121, 255)  ;}
.k{
    text-align: center; border:solid ; border-color:rgb(255, 121, 255) }
h2{
    color:rgb(255, 121, 255) ; text-align: center;}
p{
    text-align: center; color: lightpink;}
ul{
    color: lightpink; margin-left: 50%;}
ol{
    color: lightpink; margin-left: 50%;}
.d{
     text-align: center;}

.peak{
     text-align: center
     ; height: 1670; width: 100%;
}
