p{
font-size:20px;
font-family:fantasy;
font-display:block;
background-color:burlywood;
color:aliceblue;
margin-left:130px;
margin-right:130px;
}


body{
background-color:blanchedalmond;
}

img{
margin-left:600px;
size:500px;
}
h1{
font-size:30px;

}