body{
background-color:beige



}


p{
color:azure;
background-color:burlywood;
width:2200px;
margin-left:130px;
font-size:25px;
font-family:fantasy;
}

h1{
color:darksalmon;
text-align:center;
font-size:50px;

}

img{
size:1000px;
margin-left:650px;



}


