H2{
    background-color: rgb(15, 86, 8);
    color: rgb(173, 134, 6);
    font-family: cursive;
}
h1{
       background-color: rgb(15, 86, 8);
    color: rgb(173, 134, 6);
    text-align: center;
    width: 20%;
    height: 100px;
    font-family: cursive;

}