body{
    background-color: black;
}
h1{
    font-family: "MedievalSharp", cursive;
    color: white;
    text-align: center;
    font-size: 50px;
}
a{
    color: white;
    font-size: 40px;
    font-family: "MedievalSharp", cursive;
}
p{
    color: white;
    font-family: "MedievalSharp", cursive;
    border-style: double;
    border-color: white;
    border-width: 40%;
    font-size: 30px;
}


