html{background-color:black;}
h1{background-color: black; color: aliceblue;text-align: center; height: 20px;}
a{color: aliceblue; margin-right: 10px;}
.links{margin: auto;width: 150px;}
h2{color: aliceblue;border: 10px; margin-left: 38%;}
.box2{color: aliceblue; width: 500px;margin: auto;height: 100px;}
.main{width: 800px; margin:auto 200px; }
.box3{}
.box4{width: 450px;height: 200px; float: left;}
.MM{color: aliceblue;margin-left: 400px;}
.AAA{color:aliceblue;margin-left: 230px; height: 70px;}
.AA{color: aliceblue;margin-left: 530px; height: 80px;}
.GG{margin-left: 490px;}
.QQ{text-align: center; height: 200px;}
.ZZ{height: 30px;}
.VV{height: 60px;}
.RR{color: aliceblue;margin-left: 370px; height: 80px;}
.OO{margin-left:550px;}
.II{margin-left: 550px;}
.box10ss{color: red; background-color: wheat; text-align: center; width: 30%; margin-left: 35%;}
.nn11{text-align: center;}
.zee{text-align: center;}

