
body{
background-color: rgb(231, 40, 19);
background-image: url("../images\ for\ offical\ website/yankees.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 48%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.A{

background-color: rgb(0, 0, 0);
color: white;
width: fit-content;
margin-left: 950px;
font-size: 70px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border-radius: 15px;
}

.B{

background-color: rgb(49, 141, 202);
color: rgb(0, 0, 0);
font-size: 30px;
width: 550px;
float: left;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.C{

    background-color: rgb(100, 138, 179);
float: right;
font-size: 25px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
width: 575px;
}

.E{

margin-top: 100px;
margin-right: 500px;

}

.D{
background-color: black;
color: white;
font-size: 25px;
width: fit-content;
clear: both;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



