body{
    background-color: crimson;
}
h1{
    background-color: dodgerblue;
text-align: center;
height: 100px;
color: white;

}
h3{
  
    color: white;
}
ol{
    color: white;
   
   
}
h2{
    color: white;
    
}
div{
    float: right;
}




