body{
    background-color: crimson;
}
h1{
    background-color: dodgerblue;
    text-align: center;
    color: white;
    height: 100px;
}
h2{
    text-align: center;
    color: white;
}
p{
    background-color: dodgerblue;
    height: 750px;
    width: 500px ;
    float: left;
    color: white;
}
h3{
   
    color: white;
}
div{
    background-color: dodgerblue;
    color: white;
    height: 750px;
    width: 500px;
    float: right;
    text-align: right;
}