* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', monospace;
}

ul {
    list-style: none;
    background: darkorange;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: darkorange;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #D2691E;
}

ul li:hover ul.dropdown {
    display: block;
}

body {
    background-color: #DEB887;
}

#WebsiteTitle {
    background-color: yellow;
    margin-top: 20px;
    color: black;
    padding: 40px;
    text-align: center;
  }   

.Pizza_Box{
    background-color: bisque;
    width: 900px;
    height: 300px;
    margin: 50px;
    text-align: center;
}

.Pizza_Image{
    width: 100px;
    margin-top: 25px;
    margin-left: 340px;
    transition: 2s;
    float: left;
}

.Pizza_Image:hover{
    width: 270px;
}

.Pizza_Info{
    float: right;
    margin-top: 80px;
    margin-right: 90px;
    width: 200px;
    background-color: white;
}

.CheeseburgerBox{
    background-color: bisque;
    width: 900px;
    height: 300px;
    margin: 50px;
    text-align: center;
}

.BurgerImage{
    width: 100px;
    margin-top: 25px;
    margin-left: 340px;
    transition: 2s;
    float: left;
}

.BurgerImage:hover{
    width: 270px;
}

.BurgerInfo{
    float: right;
    margin-top: 80px;
    margin-right: 90px;
    width: 200px;
    background-color: white;
}

.ChickenBox{
    background-color: bisque;
    width: 900px;
    height: 300px;
    margin: 50px;
    text-align: center;
}

.ChickenImage{
    width: 100px;
    margin-top: 25px;
    margin-left: 340px;
    transition: 2s;
    float: left;
}

.ChickenImage:hover{
    width: 270px;
}

.ChickenInfo{
    float: right;
    margin-top: 80px;
    margin-right: 90px;
    width: 200px;
    background-color: white;
}

.RamenBox{
    background-color: bisque;
    width: 900px;
    height: 300px;
    margin: 50px;
    text-align: center;
}

.ramenimage{
    width: 100px;
    margin-top: 25px;
    margin-left: 340px;
    transition: 2s;
    float: left;
}

.ramenimage:hover{
    width: 255px;
}

.rameninfo{
    float: right;
    margin-top: 80px;
    margin-right: 90px;
    width: 200px;
    background-color: white;
}

.brocollib{
    background-color: bisque;
    width: 900px;
    height: 300px;
    margin: 50px;
    text-align: center;
}

.brocolli_image{
    width: 100px;
    margin-top: 25px;
    margin-left: 340px;
    transition: 2s;
    float: left;
}

.brocolli_image:hover{
    width: 255px;
}

.brocolliinfo{
    float: right;
    margin-top: 80px;
    margin-right: 90px;
    width: 200px;
    background-color: white;
}