html{

background-color: darkblue;


}


.clu{

font-family: cursive;
font-size: 50px;
    color: gold;

    background-color: brown;


    height: 100px;

    width: 1150px;

    text-align: center;

    margin-top: 70px;

   


}


.imgone{

height: 600px;

width: 450px;




}


.ggg{

font-size: 30px;

color: gold;

}

.heh{

color: white;



}



p{

color: gold;



}

a{

color: gold;

font-family: cursive;
}