body{
    background: image brother 5px; ;
} 



h1{
text-align: center;



} 

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
} 


.header{
padding-block: ;




}


