h1{
    background-color: blue;
    text-align: center;
    height: ;
}
h3{
    background-color: blue;
    text-align: center;
}
p{
    background-color: rgb(146, 61, 61);
}
body{
    background-color: beige;
}
div{
    width: 95%;
    height: 500px;
    margin-left: 45px;
    font-family: cursive;
}