img{
width: 300;

}
body{
    text-align: center;
    background-color: antiquewhite;
}
li{
    text-align: left;
}
h5{
    text-align: left;
}
h3{
    background-color: darkgray;
}
h1{
    background-color: chocolate;
}