
p{
    background-color: beige;

}
body{
    background-color: orange;
    font: size 5px;;
}
h1{
    font-family:"libertinus Keyboard" ;
    text-align: center;


}
a{
    text-decoration: none;
    font-weight:bold;
}


