p{

background-color: rgb(0, 0, 0);
color: #ffffff;
text-align: center;
}
body{

   background-color: rgb(0, 0, 0);
font-size:19px;
}
h1{

background-color: rgb(0, 0, 0);
color: #ffffff;
font-size: 109px;
font-family: "bitcount gritd double";
text-align: center;
margin:109px ;
}
a{
       text-decoration:rgb(255, 13, 13) ;
        font-weight: bold;
}
img{
margin-left:500px ;


}
.boss{
background-color: rgb(0, 0, 0);
color: #e30909;
font-size: 50px;
text-decoration: underline;
}
.f{
color: #ff0000;
font-size: 40px;
margin-right: 1000;
}
.f2{
font-size: 35px;


}
.h{
font-size: 40px;
margin-right: 1000;
color: #ff0000;
}
.h2{

font-size: 40px;
margin-right: 100;

}
.m{

font-size: 40px;
margin-right: 100;
color: #ff0000;
}
.m2{

font-size: 40px;
margin-right: 100;

}

.mm{
color: #ff0000;
font-size: 40px;
margin-right: 100;

}

.mm2{

font-size: 40px;
margin-right: 100;

}
.b{
font-size: 40px;
margin-right: 100;
color: #ff0000;

}
.b2{
font-size: 40px;
margin-right: 100;

}
.ml{

font-size: 40px;
margin-right: 100;
color: #ff0000;
}
.ml2{

font-size: 40px;
margin-right: 100;

}
.s{
color: #ff0000;
font-size: 40px;
margin-right: 100;

}
.s2{

   font-size: 40px;
margin-right: 100;

}
.d{
color: #ff0000;
   font-size: 40px;
margin-right: 100;
}
.d2{

   font-size: 40px;
margin-right: 100;
}
.c{
color: #ff0000;
   font-size: 40px;
margin-right: 100;
}
.c2{

      font-size: 40px;
margin-right: 100;
}
.bv{
color: #ff0000;
       font-size: 40px;
margin-right: 100; 
}
.bv2{

font-size: 40px;
margin-right: 100;    
}
.n{
   color: #ff0000;
 font-size: 40px;
margin-right: 100; 
}
.n2{

font-size: 40px;
margin-right: 100; 
}
.fl{
color: #ff0000;
   font-size: 40px;
margin-right: 100; 
}
.fl2{

font-size: 40px;
margin-right: 100; 
}
.hf{
font-size: 40px;
margin-right: 100; 
color: #ff0000;
}
.hf2{

   font-size: 40px;
margin-right: 100; 
}
.t{
color: #ff0000;
      font-size: 40px;
margin-right: 100; 
}
.t2{

      font-size: 40px;
margin-right: 100; 
}
.u{
color: #ff0000;
   font-size: 40px;
margin-right: 100;  
}.u2{

   font-size: 40px;
margin-right: 100;  
}
.w{
color: #ff0000;
font-size: 40px;
margin-right: 100;    
}
.w2{

font-size: 40px;
margin-right: 100;   
}
.hk{
color: #ff0000;
   font-size: 40px;
margin-right: 100;   
}
.hk2{

   font-size: 40px;
margin-right: 100;   
}
.tr{
color: #ff0000;
  font-size: 40px;
margin-right: 100;    
}
.tr2{

   font-size: 40px;
margin-right: 100;  
}
.gt{
color: #ff0000;
     font-size: 40px;
margin-right: 100;   
}
.gt2{

     font-size: 40px;
margin-right: 100;   
}
.gh{
color: #ff0000;
 font-size: 40px;
margin-right: 100;   
}
.gh2{

   font-size: 40px;
margin-right: 100;   
}
.db{
color: #ff0000;
 font-size: 40px;
margin-right: 100;  
}
.db2{

    font-size: 40px;
margin-right: 100;  
}
.gp{
     color: #ff0000;
font-size: 40px;
margin-right: 100; 
}
.gp2{

font-size: 40px;
margin-right: 100; 
}


