p{

background-color: rgb(235, 45, 121);


}
body{

    background-color: rgb(29, 142, 241);
font-size:19px;
}
h1{

background-color: rgb(2, 65, 72);
font-size: 25spx;
font-family: "bitcount gritd double";
text-align: center;

}
a{
        text-decoration:red ;
         font-weight: bold;


}
h2{
    border-style:solid ;
    border-width:32px ;
    border-color:blue ;
    border-radius:30px ;
}
h3{

border-right-style:solid ;
border-left-style:solid ;
border-bottom-style:groove ;
border-left-width:5px ;
border-right-width:5px;
}