body{
    background-color: orange;
}
.one{
    background-color: antiquewhite;
    text-align: center;
    color:orange;
    height: 90px;
}
.two{
    color: red;
}
.three{
    color: red;
}
.four{
    float: right;
}
.five{
    color: red;
}