body{
    background-color: peru;
}
.one{
    color:brown;
    height: 100px;
    background-color: blanchedalmond;
    font-size: xx-large;
    text-align: center;
}
.two{
    color: brown;
    font-size:large;
}
.three{
    float: right;
    background-color: antiquewhite;
    width:60%;
    height: 100%;
}
.four{
    background-color: bisque;
    height: 100px;
    width: 100px;
    float: right;
}