body{
    background-color: rgb(201, 81, 81);
}
.one{
    height: 500px;
    color: white;
    width: 900px;
    background-color: green;
}
.two{
    background-color: white;
    border: 10px;
    border-style: dotted;
    text-align: center;
}











