body{
    background-color: darkblue;
}
h1{
    text-align: center;
    color: white;
    font-family: Tangerine;
    font-size: 30px;
}
a{
    color: white;
    text-decoration: none;
    font-family: Tangerine;
    font-size: 30px;
}
.cat{
   color: white;
   p{
        width: 50%;
        float: right;
        font-size: 30px;
   }
   button{
    background-color: transparent;
    color: lightblue;
    border-style: hidden;
    font-size: 30px;
    font-family: Tangerine;
   }
}
.images{
    img{
        width: 40%;
   }
   p{
    color: white;
   }
}
.list{
    h3{
        text-align: center;
        color: white;
        font-size: 40px;
        font-family: Tangerine;
    }
    li{
    clear: both;
    color: white;
    font-size: 30px;
        font-family: Tangerine;
    }
}
p{
    font-size: 30px;
    font-family: Tangerine;
}
