body {
    background-color: rgb(255, 175, 117);
}
a{
    font-family: "Dancing Script";
    text-decoration: none;
    font-size: 25px;
    color:darkgoldenrod;
    text-shadow: 1px 1px 2px black, 1px 1px black;
}
h1{
    font-family: italianno;
    font-size: 50px;
}
p{
    font-family: "Playwrite IT Trad";
}
.ingredients{
    background-color: rgba(148, 107, 50, 0.493);
    border-style: dashed;
    border-color: rgb(108, 70, 0);
    height: 400px;
    padding-top: 5px;
    padding-left: 5px;
}
.sauce{
    background-color: rgb(244, 101, 101);
    border-style: groove;
    border-color: red;
    border-width: 10px;
    width: 40%;
    float: left;
    margin-left: 10px;
    padding-left: 5px;
}
.noodles{
    background-color: tan;
    border-style: groove;
    border-color: rgb(171, 138, 94);
    border-width: 10px;
    width: 40%;
    float: right;
    margin-right: 10px;
    padding-right: 5px;
    
}
.steponesauce{
    font-weight: bold;
}
.steptwosauce{
    font-weight: bold;
}
.stepthreesauce{
    font-weight: bold;
}
.instruction{
    background-color: rgba(193, 117, 66, 0.493);
    border-style: dashed;
    border-color: rgb(205, 107, 57);
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 10px;
}
h2{
    font-family: italianno;
    font-size: 35px;
}