p{
    background-color: rgb(25, 239, 218);
    width: 2600px;
    font-size: larger;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
    background-color: rgb(25, 239, 218);
}
h2{
    text-align: center;
    background-color: black;
    color: rgb(25, 239, 218);
}
body{
    background-color: aqua;
}
h1.og_header1{
    background-color: black;
    color: aqua;
}
h2.PercyJacksonHeader2{
    border-top-style: double;
    border-left-style: double;
    border-right-style: double;
    border-bottom-style: dashed;
    border-width: 15px;
    border-radius: 25px;
    border-bottom-width: 10px;
    background-color: aqua;
    color: black;
    font-family: cursive;
}
li{
   font-size: large;
}
li.listitem2{
    background-color: black;
    color: aqua;
    width: 170px;
}
li.listitem2point0{
    background-color: black;
    color: aqua;
    width: 220px;
}
p.LightningTheifDescription{
    float: left;
    background-color: aquamarine;
    font-size: 20px;
    width: 500px;
}
p.SeaOfMonstersDescription{
    background-color: black;
    color: aquamarine;
    float: left;
    width: 500px;
}
h1.HeroesHeaderOne{
    background-color: black;
    color: aqua;
}
h2.HeroesHeaderTwo{
    border-top-style: double;
    border-left-style: double;
    border-right-style: double;
    border-bottom-style: dashed;
    border-width: 15px;
    border-radius: 25px;
    border-bottom-width: 10px;
    background-color: aqua;
    color: black;
}
p.RickRiordanPhoto{
    font-size: 11px;
    text-align: left;
    width: 220px;
}
ol.HeroesList{
    float: right;
}
li.heroeslistitem2{
    background-color: black;
    color: aqua;
}
li.heroeslistitem2point0{
    background-color: black;
    color: aqua;
}
p.lostherodescription{
    width: 500px;
}
p.barnesandnoble{
    background-color: aqua;
    font-size: 15px;
}
h3.RickHeader3{
    border-top-style: dashed;
    border-left-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: aqua;
    font-family: cursive;
    text-align: center;
    border-width: 10px;
}
p.graphicnovelsdescription{
    background-color: black;
    color: aqua;
    width: 500px;
}
h4.graphicnovelsheader{
    font-family: fantasy;
}
li.egyptlistitem2{
    background-color: black;
    color: aqua;
    width: 165px;
}
ol.mainpercy{
    float: left;
}
ol.mainrome{
    float: left;
    margin-left: 372px;
}
ol.mainegypt{
    float: left;
    margin-left: 372px;
}
ol.mainnorse{
    float: left;
    margin-left: 372px;
}
ol.mainapollo{
    float: left;
    margin-left: 372px;
}
h3.booksheader{
    background-color: black;
    color: aqua;
    text-align: center;
}
img.rickriordanpicture{
    opacity: 0.5;
}
h4.guides{
    font-family: fantasy;
    text-align: right;
    width: 50px;
    float: right;
}
p.guidesdescription{
    text-align: center;
    background-color: black;
    color: aqua;
    width: 500px;
    float: right;
    clear: both;
}
img.seaimage{
    width: 4000px;
    height: 1000px;
}
p.mainpagecitation{
    width: 500px;
}
p.poster{
    width: 500px;
}
p.magnusone{
    width: 500px;
}
p.egyptone{
    width: 500px;
}
ol.norselist{
    background-color: aqua;
}
li.norselistitem2{
    background-color: black;
    color: aqua;
    width: 180px;
}
ol.apollolist{
    background-color: aqua;
    color: black;
}
li.apollolistitem2{
    background-color: black;
    color: aqua;
    width: 170px;
}
li.apollolistitem2point0{
    background-color: black;
    color: aqua;
    width: 170px;
}
p.rickone{
    width: 500px;
    font-size: 30px;
    float: right;
}