h1{
    color: red;
    text-align: center;
border-bottom: blue;
border-width: 20px;
border-style: double;
border-left: #E6DFCC;
border-right: #E6DFCC;
border-top: hsl(44, 34%, 85%);
font-family: "titan one";
font-size: 158px;
}



.FXCLASSES{
    font-size: 58px;
    font-family: "Permanent Marker";
}

body{
    background-color: #E6DFCC;
}