img{
    height: 250px;
} 
body{background-color: burlywood;}

h1{border-style: outset;
border-radius: 10px;
width: 180px;
}
.second{background-color: cadetblue;}

.third{ text-align: center;}

a{font-weight: bold;}
.first{text-align: center;}