.h{border: solid;
border-color: chartreuse;
background-color: chartreuse;
color: red;}
.ct{border: solid;
border-color: coral;
background-color: coral;
color: blue;}

.cd{border: solid;
border-color: darkmagenta;
background-color: darkmagenta;
color: orange;}

body{background-color: cornflowerblue; font-family: "Oswald", sans-serif;}

.one{border: dashed;
border-color: red;
background-color: blue;}

.two{border: solid;
background-color: blue;
border-color: blueviolet;
height: 400px;
width: 900px;
margin-left: 500px;
margin: 20px;
}

.three{border: solid;
background-color: darksalmon;
border-color: salmon;
height: 400px;
width: 900px;
margin-left: 500px;
margin: 20px;
}
.four{border: solid;
border-color: gold;
background-color: gold;}

.five{border: solid;
border-color: aqua;
background-color: aqua;}

.poop{border: solid;
border-color: aquamarine;
background-color: aquamarine;}

.six{border: solid;
border-color: greenyellow;
background-color: greenyellow;}