body{
    background-color: purple;

}
a{
    color: peru;
}
h1{
    width: 500px;
    background-color: black;
    color: azure;
    border-style: double;
    border-color: azure;
    border-width: 10px;
    text-align: center;
} 
h2{
    height: 67px;
    background-color: black;
    color: azure;
    border-style: solid;
    border-color: azure;
    text-align: center;
    border-radius: 10px;
}   
