body{
    background-color: blue;

}
.hone{
border-style: dotted;
border-color: blueviolet;
border-top-left-radius: 100px;
border-top-right-radius: 100px;
border-bottom-left-radius: 100px;
border-bottom-right-radius: 100px;
border-width: 10px;
}
p{
    background-color: aqua;
}
a{
font-weight: bold;
    text-decoration: none;
    background-color: red;
}
nav{
    position: sticky;
top: 0;
left: 0;
right: 0;
}
.hi{
    background-color: aqua;
    height: 1000px;
    width: 1000px;

}
.images{
    height: 500px;
    width: 400px;
float: left;
}
.texttwo{

    text-align: center;
}