.op {background-color: grey;
height: 150px;
text-align: center;
font-family: "Bebas Neue", sans-serif;
}
body{background-color: black;}
.pic{background-color: grey;
    margin-top: 50px;
    font-family: "Bebas Neue", sans-serif;
}

.pic {text-align: center;}
.p h2{
text-align: center;
}
.p p{text-align: center; font-family: "Bebas Neue", sans-serif;}
.cool{text-align: center;}
a{color: chartreuse;}


