a{color: chartreuse;}
body{background-color: black;}
.v{background-color: crimson;
text-align: center;
color: aqua;}
.p{background-color: crimson;
width: 300px;
margin-left: 30px;
 text-align: center;
float: left;
color: aqua;
}
.C{background-color: crimson;
width:300px;
margin-left: 30px;
 text-align: center;
float: left;
color: aqua;
}
.g{background-color: crimson;
width:300px;
margin-left: 30px;
 text-align: center;
float: left;
color: aqua;}
.T{background-color: crimson;
width:300px;
margin-left: 30px;
 text-align: center;
float: left;
color: aqua;}

