h1 {
    text-align: center;
    font-family:cursive;
    color:rgb(136, 0, 0);
}
p {
    text-align: center;
    color:rgb(136, 0, 0);
    font-family:cursive;
}

body {
    background-color: rgb(70, 216, 111);
}

img {
    display: flex;
    border: double;
    border-radius: 40px;
    justify-self: center;  
    
}

.item-1 {
    position: sticky;
    top: 0px;
    left: 0px;
    border-radius: 0;
    width: 100%;
    z-index: 1;
    height: 80px;
    display:flex;
    justify-content: space-around;
}

.item {
    background-color: rgb(40, 134, 66);
}

@keyframes slideInLeft{
    from{
        transform: translateX(-900px);
    }
    to{
        transform: translateX(0);
    
    }
}

.slideInLeft {
   animation: slideInLeft 1s ease-in;
}

@keyframes slideInRight{
    from{
        transform: translateX(1500px);
    }
    to{
        transform: translateX(0);
    
    }
}

.slideInRight {
   animation: slideInRight 1s ease-in;
}

a{
    color:rgb(68, 205, 178);
    font-family:cursive;
    font-size:x-large;
    width: 100px;
    transition: transform .1s ease-in-out;
}

a:hover{
    color: rgb(25, 47, 60);
    transform: translateY(-5px);
}
