h1{
    background-color: indianred;    
    color:aquamarine;
    font-size: 70px;
    font-family: fantasy;
    border-style: double;
    text-align: center;
    border-width: 5px;
    border-color: orange;
    border-radius: 100px;
}
body{
    background-color: slategray;
    font-family:"Audiowide";
    background-image: url('../Images/Cookies.jpeg');}
.Q{
    background-color: dodgerblue;
    border-style: double;
    border-color: black;
    border-width: 15px;
    width: 34%;
    font-family: fantasy;
    text-align: center;
    margin:auto
}
img{
    border-style: double;
    border-width: 20px;
    border-radius: 10%;
    margin-left: 900px;
    border-color: darkgoldenrod;
}
h2{
    background-color: indianred;    
    color:aquamarine;
    font-size: 30px;
    font-family: fantasy;
    border-style: double;
    text-align: center;
    border-width: 10px;
    border-radius: 50px;
}
p{
    width: 30%;
    font-family: fantasy;
    text-align: center;
    background-color: dodgerblue;
    font-size: 20px;
    margin:auto}
a{
    background-color:cornflowerblue;
    border-style: double;
    border-width: 15px;
    font-family: fantasy;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    margin: auto;}


    label{color: white;}
progress{
    width: 1000px;}

.b{  float: left;}
.c{ float: left; 
    margin-left: 1000px;}
.d{  float: right;}
