body{
    background-color: black;
}
h1{
    color: white;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}
p{
    color: white;
}
a{
    text-decoration: none;
}
img{
    height: 1000px;
    width: 100%;
}
ul{
    color: white;
}
h2{
    color: white;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}