body{
    background-image: url(../Images/lol2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    color: white;
    text-shadow: 2px 2px 5px red;
}

h1{
    color: white;
    text-shadow: 2px 2px 5px red;
}
.lol {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;  
    }

    @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
    }

.poop {
        clear: both;
        width: 100px;
        height: 100px;
        background-color: red;
        position: relative;
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;  
        }
    
        @keyframes example {
        0%   {background-color:red; left:0px; top:0px;}
        25%  {background-color:yellow; left:200px; top:0px;}
        50%  {background-color:blue; left:200px; top:200px;}
        75%  {background-color:green; left:0px; top:200px;}
        100% {background-color:red; left:0px; top:0px;}
        }
.poo {
            clear: both;
            width: 100px;
            height: 100px;
            background-color: red;
            position: relative;
            animation-name: example;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;  
            }
        
            @keyframes example {
            0%   {background-color:red; left:0px; top:0px;}
            25%  {background-color:yellow; left:200px; top:0px;}
            50%  {background-color:blue; left:200px; top:200px;}
            75%  {background-color:green; left:0px; top:200px;}
            100% {background-color:red; left:0px; top:0px;}
            }
.pee {
                clear: both;
                width: 100px;
                height: 100px;
                background-color: red;
                position: relative;
                animation-name: example;
                animation-duration: 4s;
                animation-iteration-count: infinite;
                animation-direction: alternate-reverse;  
                }
            
                @keyframes example {
                0%   {background-color:red; left:0px; top:0px;}
                25%  {background-color:yellow; left:200px; top:0px;}
                50%  {background-color:blue; left:200px; top:200px;}
                75%  {background-color:green; left:0px; top:200px;}
                100% {background-color:red; left:0px; top:0px;}
                }
.haha {
                    clear: both;
                    width: 100px;
                    height: 100px;
                    background-color: red;
                    position: relative;
                    animation-name: example;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate-reverse;  
                    }
                
                    @keyframes example {
                    0%   {background-color:red; left:0px; top:0px;}
                    25%  {background-color:yellow; left:200px; top:0px;}
                    50%  {background-color:blue; left:200px; top:200px;}
                    75%  {background-color:green; left:0px; top:200px;}
                    100% {background-color:red; left:0px; top:0px;}
                    }
.trev {
                        clear: both;
                        width: 100px;
                        height: 100px;
                        background-color: red;
                        position: relative;
                        animation-name: example;
                        animation-duration: 4s;
                        animation-iteration-count: infinite;
                        animation-direction: alternate-reverse;  
                        }
                    
                        @keyframes example {
                        0%   {background-color:red; left:0px; top:0px;}
                        25%  {background-color:yellow; left:200px; top:0px;}
                        50%  {background-color:blue; left:200px; top:200px;}
                        75%  {background-color:green; left:0px; top:200px;}
                        100% {background-color:red; left:0px; top:0px;}
                        }
.trevor {
    background-image: linear-gradient(to right, red , yellow);
    height: 150px;
    width: 150px;
}