.one{ 
    background-color:rgb(235, 223, 135); 
    border-style:rgb(235, 230, 135);
    border-width: 20px;
    height:95px;
}
.two{
    background-color: rgb(125, 243, 221);
    border-style:rgb(115, 231, 216);
    border: width 20px;
    height:1150px;
}