.one{
    background-color:rgb(170, 222, 164); 
    border-style:rgb(168, 225, 182);
    border-width: 20px;
    height:95px;
}
.two{
    background-color: rgb(178, 176, 241);
    border-style:rgb(175, 183, 237);
    border: width 20px;
    height:1100px;
}