
h1{
    font-family: monospace;
    border-style: dotted;
    text-align: center;
    border-width: 15px;
    border-color:maroon;
}
h3.explination{
    text-align: center;
    font-family: monospace;

}
h1.rules{
    border-style: dotted;
    border-color: darkblue;
    text-align: center;
    border-width: 15px;
    font-family: monospace;
}
h3.rules{
    text-align: center;
    font-family: monospace;

}
h1.positions{
font-family: monospace;
}
h2.players{
    font-family: monospace;
}
li.positions{
    font-family: monospace;
    font-size: medium;
}
h1.plays{
    font-family: monospace;
}
h3{
    text-align: center;
    font-family: monospace;
}