.link-bar{
    width: 100vh;
    height: 150px;
    position: sticky;
    background-color: darkcyan;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    justify-content: center;
   align-content: center;
   align-items: center;
   align-content: space-evenly;
   gap: 20px;
   border: solid darkblue 2px;
   border-radius: 50px;
}
.link-box{
    width: 100px;
    height: 50px;
    background-color: lightblue;
    border: solid 2.5px black;
    border-radius: 25px;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
    
    transform: transform 0.3s,;
}
.link-box:hover{
    transform: translateY(-10px);
    background-color: lightcyan;
    color: aliceblue;
}

a{
    color: black;
}

body{
    background-color: lightgreen;
}

.contaner{
    height: 100vh;
    width: 100vh;
}

.header-contaner{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.header-main{
    font-size: 50px;
}

.info1{
    background-color: darkcyan;
    width: 275px;
    border: solid 2px darkblue;
    border-radius: 50px;
    position: absolute;
    left: 2px;
}

.info-header1{
    font-size: 175%;
    
}

.info-text1{
    font-size: 25px;
}

a{
    color: black;
}

.center-img1{
    position: absolute;
    top:350px;
    left: 350px;
    border: solid darkblue 2px;

}

.center-img2{
    position: absolute;
    top:350px;
    right: 350px;
    border: solid darkblue 2px;

}

.info2{
    background-color: darkcyan;
    width: 275px;
    border: solid 2px darkblue;
    border-radius: 50px;
    position: absolute;
    right: 2px
}

.info-header2{
    font-size: 175%;
    
}

.info-text2{
    font-size: 25px;
}

.info3{
    background-color: darkcyan;
    width: 90vh;
    border: solid 2px darkblue;
    border-radius: 50px;
    position: absolute;
    top: 700px
}

.info-header3{
    font-size: 175%;
    
}

.info-text3{
    font-size: 25px;
}