body{
    background-color:rgba(16, 81, 151, 0.721);
}
h1{
    color:rgba(71, 0, 0, 0.753);
    border-style: solid;
    border-color: rgba(107, 0, 0, 0.921);
}
p{
    color: rgb(93, 28, 0);
    border-style: solid;
    border-color: rgb(93, 58, 16);
}
img{
    border-style: solid;
    border-color: rgb(36, 88, 171);
    border-radius: 50px;
}
h5{
    color: rgb(27, 0, 99);

}