li{border-style: groove;}
body{background-color:orange }
p{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;}
@keyframes slideInLeft {
from{
    transform: translate(-300px);
}

to{
    transform: translateX(0);
}
}

.slideInLeft{
    animation: slideInLeft 1s ease-in;
}
  