body{background-color: brown;}
p{border-style: dashed;}
@keyframes slideInLeft {
from{
    transform: translate(-300px);
}

to{
    transform: translateX(0);
}
}

.slideInLeft{
    animation: slideInLeft 1s ease-in;
}