body{
    background-color:burlywood;
}  
 
img{
    border-style:solid; 
    border-width: 8px; 
    border-radius: 25px; 
    width: 500px;
} 
h2{
    border-style:solid; 
    border-width: 8px; 
    border-radius: 25px; 
}