body{
    background-color:burlywood;
}  
h1{
    border-style:solid; 
    border-width: 8px; 
    border-radius: 25px; 
   
} 
h3{
    border-style:solid; 
    border-width: 8px; 
    border-radius: 25px; 
    
} 
img{
    border-style:solid; 
    border-width: 8px; 
    border-radius: 25px; 
    width: 500px; 
} 
a{
    color:green;
}