
body{
    background-color: lightskyblue;
    font-family: "Chewy", system-ui;
}
div{background-color:rgb(147, 226, 255);}
.q{
    background-color: hotpink;
}
.qone{
     background-color: rgb(255, 181, 195);
    margin: 20px;
}

.pone{background-color: rgb(255, 181, 195);
    margin: 20px;
}
.qtwo{
    background-color: rgb(240, 202, 140);
    margin: 20px;
}
.ptwo{background-color: rgb(240, 202, 140);
    margin: 20px;
}
.qthree{
    background-color: khaki;
    margin: 20px;
}
.pthree{
    background-color: khaki;
    margin: 20px;
}
