body{
    background-color: blueviolet;
    color: gold;
    border-style: double;
    border-color: blue;
    font-family: cursive;
    font-size: large;
    background-image: url(../IMG/vikings.jpeg);
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: 100%;
    background-position-x: left;
}
p{
    border-style: dotted;
    border-color: blue;
}
a{
    background-color: black;
    text-align: center;
    margin: auto;
    color: aquamarine;
}