.one{
    background-color: blueviolet;
    color: aquamarine;
    margin: auto;
    height: 250px;
    width: 250px;
    text-align: center;
    padding: 450px;
    font-size: 250px;
    border-style: double;
    font-family: cursive;
}
body{
    background-color: black;
    border-style: double;
}
a{
    font-size: xx-large;
    background-color: aquamarine;
}
.two{
    background-color: aquamarine;
    color: blueviolet;
    height: 150px;
    width: 680px;
    float: left;
    font-size: x-large;
    text-align: center;
    border-style: dotted;
}
.three{
    background-color: aquamarine;
    color: blueviolet;
    height: 150px;
    width: 680px;
    float: right;
    font-size: x-large;
    text-align: center;
    border-style: dotted;
}