body{
    background-color: royalblue;
    color: gold;
    border-style: double;
    border-color: bisque;
    background-image: url(../IMG/Rams.jpeg);
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: 100%;
    background-position-x: left;
    font-size: large;
}
a{
    background-color: aqua;
}
p{
    border-style: dotted;
    border-color: bisque;
}