body{
    font-family: cursive;
    background-color: pink;
    color: blue;
    border-style: double;
    border-color: teal;
    font-size: large;
}
p{
    border-style: dotted;
    border-color: teal;
}
img{
    margin: 10px;
}