body{
    background-color: blue;
}
h1{
    color: red;
    text-align: center;
    border: solid;
    border-color: white;
    border-radius: 20px;
}
p{
    color: white;
    text-align: left;
    font-size: 30px;
}