body {
    background-color: red;
}
.NetheriteMonstrousity p{
    font-family: 'Times New Roman', Times, serif;
}
.Ignis{
    background-color: orange;
}
.EnderGuardian{
    background-color: blueviolet;
}
.Harbinger{
    background-color: darkred;
}
.Leviathan{
    background-color: purple;
}
.Ancient{
    background-color: tan;
}
.Ferrous{
    background-color: gray;
}
.Umvuthi{
    background-color: darksalmon;
}
.Frostmaw{
    background-color: lightskyblue;
}
.Stalker{
    background-color: darkblue;
}
.Lich{
    background-color: gold;
}
.Naga{
    background-color: green;
}
.Chief{
    background-color: lightcoral;
}
.Alpha{
    background-color: lightseagreen;
}
.Ghoul{
    background-color: darkgreen;
}
a{
    background-color: darkcyan;
}
.Hydra{
    background-color: blueviolet;
}
.Queen{
    background-color: powderblue;
}
.Ghast{
    background-color: white;
}
.Awful{
    background-color: maroon;
}
.Keeper{
    background-color: firebrick;
}