P{
    font-size: 16px;
    font-family:bold ;
    color: white;
}
li{
color: white;


}
body{
  background-image: url(../Image/images.jpeg);
  background-repeat:no-repeat ;  
  background-size:cover;
  border-color: steelblue;
  
}

h1{
background-color: steelblue;
border-radius: 18px;
border-width: 12px ;
border-style: groove;
}
.history{
    border: radius 18px; ;
    border-color:white;
    background-color: steelblue;
    border-radius: 18px;
    border-width: 12px;
    color: white;
}
.stats{
    border: radius 18px; 
    border-color:white;
    background-color: steelblue;
    border-radius: 18px;
    border-width: 12px;
}