.Bestplayers{

    width: 400px;
    height: 450px;
    background-color: navy;
    color: orange;
    font-size: 30px;
    border-style: groove;
    float:left ;
    margin-right: 25px; 
    margin-left: 120px;
    text-align: center;
}
.records{

    width: 400px;
    height: 400px;
    background-color: orange;
    color: blue;
    font-size: 30px;
    text-align: center;
    border-style: groove;
    float: left;
    margin-right: 25px;
    
}
.history{
    width: 400px;
    height: 400px;
    font-size: 30px;
    text-align: center;
    border-style: groove;
    background-color: blue;
    color: orange;
    float: left;
}
body{

    background-image: url(../Image/Broncos.jpeg);
    background-repeat:no-repeat ;  
    background-size:cover;
    background-color: navy;
}
