P{

    background-color: blue;
    color: yellow;
    font-size: 15px;
    font-family:bold;
}
body{


    background-image: url(../Image/colorado.webp);
    background-repeat:no-repeat ;  
    background-size:cover;
  
}
h2{
    height: 50px;
    background-color:blue ;
    background-image: linear-gradient( red, blue, 
    yellow);
    border-style: solid;
    border-radius: 18px;
}
.avs{
    border-color: steelblue;
    border-style: solid;
    border-radius: 14px;
    border-width: 10px;
    background-color:silver;
}
.Rockies{
    border-color: black;
    border-style: solid;
    border-radius: 14px;
    border-width: 10px;
    background-color: blueviolet;
}
.nuggets{
    border-color:navy ;
    border-style:solid;
    border-radius: 14px;
    border-width: 10px;
    background-color: goldenrod;
}
.Broncos{
    border-color: orange;
    background-color: royalblue;
    border-style: solid;

}
body{
    background-color:skyblue ;
}