.bold-word{

    font-weight: bold;
}
.box1{
    margin: 20px;
    text-align: left;
}
.box2{
    margin: 20px;
}
.box3{
    margin: 20px;

}
img{
    margin-right: 50px;
    margin-left: 50px;
    float: left;
}
.box4{
    margin: 20px;
}
.box5{
    margin: 20px;
}
body{
background-color: rgb(172, 96, 226);

}
