h1{
    text-align: center;
    background-color: lightyellow;
    border-style: double;
    border-radius: 100px;
    border-width: 25px;
    border-color: cornflowerblue;
    padding: 10px;
    width: 500px;
    margin:auto;
    font-family: "Chewy", system-ui;
}
body{
     background-color: rgb(255, 188, 121);
}
.Titanium{
     background-color: rgb(255, 231, 169);
     border-style: double;
     border-color: rgb(228, 193, 156);
     border-width: 10px;
     border-radius: 100px;
     text-align: center;
}
.Steelgrey{
     background-color: rgb(255, 231, 169);
     border-style: double;
     border-color: rgb(228, 193, 156);
     border-width: 10px;
     border-radius: 100px;
     text-align: center;
}
.DarkCherry{
     background-color: rgb(255, 231, 169);
     border-style: double;
     border-color: rgb(228, 193, 156);
     border-width: 10px;
     border-radius: 100px;
     text-align: center;
}
.sand{
       background-color: rgb(255, 231, 169);
     border-style: double;
     border-color: rgb(228, 193, 156);
     border-width: 10px;
     border-radius: 100px;
     text-align: center;
}
ul{
 
     font-family: "Alumni Sans Pinstripe", sans-serif;
     font-size: 27px;
}
a{
     font-family: "Alumni Sans Pinstripe", sans-serif; 
     font-size: 27px;
}
h2{
     font-family: "Chewy", system-ui;
     text-align: center;
}
p{
     font-family: "Alumni Sans Pinstripe", sans-serif;
     font-size: 27px;
  
}
